<p id="notice"><%= notice %></p>

<h1>Usuários</h1>

<table class="table">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Email</th>
      <th>Telefone</th>
      <th>Apartamento</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td><%= user.phone %></td>
        <td><%= user.apartment.number %></td>
        <td><%= link_to 'Detalhes', user, class: "btn btn-sm btn-outline-dark" %></td>
        <td><%= link_to 'Editar', edit_user_path(user), class: "btn btn-sm btn-outline-dark" %></td>
        <td><%= link_to 'Remover', user, method: :delete, data: { confirm: 'Deseja remover este usuário?' }, class: "btn btn-sm btn-outline-dark" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @users %>

<br>

<%= link_to 'Adicionar Usuário', new_user_path, class: "btn btn-sm btn-dark" %>
